body {
    background: lightblue;
<img src="cornwallpicture.jpg">
color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: aliceblue;
}

table {
    border: solid 1px black;
}
#p1 {
    color: beige;
}
#p2 {
    color: cornflowerblue;
}
td {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}
#titlebar {
    border: 1px



}